# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '^1.25.0'

    - name: Lint
      run: go run ./cmd/vorbere --config vorbere.yaml run lint

    - name: Test
      run: go run ./cmd/vorbere --config vorbere.yaml run test

    - name: Build
      run: go run ./cmd/vorbere --config vorbere.yaml run build
